otros parches.7z
*.db
*.md
*.pdf
*.html
/_BFME109
/bfme1_106
/bfme1_109
/rotwk201
/rotwk202
/rotwk202beta17
/rotwk202beta18
/rotwk202beta18
/rotwk202beta19
/rotwk202v9.0
/1.06_TheolShit
/1.00/art
/1.00/data
/1.00/lang
/1.00/maps100_by AKILYOU.rar
/1.01
/1.02
/1.03
/1.04
/1.05
/1.06/art
/1.06/data
/1.06/lang
/1.08
/1.09v1/oldswitcher_maps450_improved
/1.09v1/oldswitcher_maps450-560
/1.09v1/oldswitcher_maps560_improved
/vBTP_0.g
/vBTP_1.00
/vBTP_2.02
/vBTP_2.03
/vBTP_2.04
/vBTP_2.05
/vBTP_2.06
/vBTP_3.00
/vBTP_3.01
/vBTP_3.02
/vBTP_3.03
/TheolShit
/1.09v2/oldswitcher_maps450
/1.09v2/oldswitcher_maps560
/_Maps stacking system for switcher
/1.09v3/mapsFULL
/1.09v3/*.lnk
/releases/1.09v3.0 - beta versions
/releases/SWITCHER_UPDATE backups
/releases/1.065 old BT2DC
/releases/*.exe
/releases/*.7z